@use "./base.scss";

// put your custom CSS here!

// center fig caption
figure:has(img) {
    margin-top: -1rem;
    text-align: center;
}
 
figcaption {
    text-align: center;
    margin-top: -1rem;
    font-style: italic;
    font-size: 0.9rem;
}